<link
  rel="stylesheet"
  href="{{ 'fancy-3d-effect.css' | asset_url }}"
  media="print"
  onload="this.media='all'">

{%- assign widths = '165, 360, 535, 750, 1070, 1500, 3840' -%}
{%- capture sizes -%}
  (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
  (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2) (min-width: 3840px) 4096px
{%- endcapture -%}

<div class="effect__wrapper">
  <div class="effect__text__wrapper">
    <h2 class="effect__title">THE ADVENTURE WARDROBE</h2>
    <div class="edgtf-separator-holder clearfix edgtf-separator-right edgtf-separator-appeared">
    <div class="edgtf-separator" style="color: #ffffff">
      <svg x="0px" y="0px" width="65px" height="3px" viewBox="0 0 65 3" enable-background="new 0 0 65 3" xml:space="preserve">
        <g>
          <polygon class="edgtf-polygon edgtf-polygon-1" points="0,0 16.021,0 12.958,3 0,3 "></polygon>
          <polygon class="edgtf-polygon edgtf-polygon-2" points="16.268,3 19.299,0 29.562,0 26.5,3 "></polygon>
          <polygon class="edgtf-polygon edgtf-polygon-3" points="29.969,3 33,0 40,0 37.031,3 "></polygon>
          <polyline class="edgtf-polygon edgtf-polygon-4" points="41.031,3 44,0 49.031,0 46.031,3 "></polyline>
          <polygon class="edgtf-polygon edgtf-polygon-5" points="50.969,3 54.031,0 58.031,0 55,3 "></polygon>
          <polygon class="edgtf-polygon edgtf-polygon-6" points="59.96,3 62.96,0 65,0 61.992,3 "></polygon>
        </g>
      </svg>
      </div>
    </div>
    <p class="effect__description">this is some text here to hold and keep it like its real because</p>
  </div>
  {% comment %} <div class="swiper carousel-swiper">
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
        {% assign image = block.settings.slide_img %}
        {% assign price = block.settings.slide_price %}
        {% assign title = block.settings.slide_title %}

        <div class="swiper-slide" id="slide-{{ forloop.index }}">
          <div class="swiper-slide-text-container">
            <p>{{ price }}</p>
            <h1>{{ title }}</h1>
          </div>
          {%- if image != blank -%}
            {{
               image
             | image_url: width: 1500
             | image_tag: loading: 'lazy', sizes: sizes, widths: widths, class: 'swiper-slider-img' }}
          {%- else -%}
            {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
          {%- endif -%}
        </div>
      {% endfor %}
    </div>
    <div class="swiper-arrow-next-wrapper">
      <div class="swiper-arrow swiper-button-next">
        <span class="swiper-button-inner-numbers">
          02
        </span>
      </div>
    </div>
    <div class="swiper-arrow-prev-wrapper">
      <div class="swiper-arrow swiper-button-prev">
        <span class="swiper-button-inner-numbers">
          03
        </span>
      </div>
    </div>
  </div> {% endcomment %}
</div>

{% schema %}
{
  "name": "Fancy 3D",
  "class": "index-section",
  "settings": [
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    }
  ],
  "blocks": [

  ],
  "presets": [
    {
      "name": "Fancy 3D",
      "category": "Custom"
    }
  ]
}
{% endschema %}